@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');

body {
    @apply text-white;
    @apply text-xl;
    @apply bg-blackoff;
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    @apply text-3xl;
    font-family: 'Montserrat', sans-serif;
    @apply text-white;
    font-weight: bold;
}

h2 {
    @apply text-2xl;
    font-family: 'Montserrat', sans-serif;
    @apply text-white;
    font-weight: bold;
}

h3 {
    @apply text-lg;
    @apply text-white;
    font-weight: bold;
}

@media (min-width: 640px) {
    h1 {
        @apply text-5xl;
    }
    
    h2 {
        @apply text-3xl;
    }
    
    h3 {
        @apply text-lg;
    }
}

a {
    @apply underline;
}

.bullets-inline li {
    display: inline-block;
    &:not(:last-child):after {
        color: #197593;
        margin: 0 .5em;
        content: "\2022";
        color: #616f7c;
    }
}

@tailwind components;

@tailwind utilities;